@import "./variables.scss";

body {
    background-image: url("../images/heroes-main-background.jpg");

    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
}

.body-title {
    font-size: $title-font;
    margin-top: 50px;

    width: 100%;
    text-align: center;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }