@import "./variables.scss";

body {
    background-color: $background-color;
    background-image: url("../images/background.png");
<<<<<<< HEAD
    background-size: cover;
    background-repeat: no-repeat;
=======

    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
>>>>>>> c994410b3703cc4ca4977a306d4c4dfdf4e6490f
}

.body-title {
    font-size: $title-font;
    margin-top: 50px;
    width: 100%;
    text-align: center;

    img {
        height: 150px;
    }
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
