$title-font: 50px; //Font for main title
$sub-element-font: 20px; //Sub-element font
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap'); //main-font
$main-font: 'Vollkorn', serif;
$hover-color:#F5EB97;
=======
@import url("https://fonts.googleapis.com/css?family=Vollkorn&display=swap"); //main-font
$main-font: "Vollkorn", serif;
$hover-color: #fca103;
$background-color: #4f2f16;
>>>>>>> c994410b3703cc4ca4977a306d4c4dfdf4e6490f
