$title-font: 50px; //Font for main title 
$sub-element-font: 20px; //Sub-element font
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap'); //main-font
$main-font: 'Vollkorn', serif;
$hover-color:#fca103;