@import "@styles/variables.scss";

.body-block {
    display: flex;
    justify-content: flex-start;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;

    &__town, &__creature, &__quantity, &__item, &__week  {
        border: 1px solid #2E1C0E;
        width: 350px;
        height: 250px;
        background-image: url('../../images/heroes-main-background.jpg');
        margin: 2rem;
        padding: 1.2rem;
    }
}

.select-element-name {
    font-weight: bold;
    text-align: center;
    padding: 0 5px;
    margin-bottom: 1rem;
    color:  $hover-color;
}

//Outline must be same as padding, outline must fit
.column-elements {
    display: inline-block;
    width: 100%;
    height: 162px;
    padding: 2px;
    overflow: auto;

    .column-element {
        color: $hover-color;

        &.picked-element {
            outline: 2px solid $hover-color;
        }

        &:hover {
            cursor: pointer;
            outline: 2px solid $hover-color;
        }

        .overflow-element {
            display: flex;

            &-image {
                height: 40px;
            }

            &-text {
                line-height: 40px;
                height: 40px;
                width: 100%;
                font-weight: bold;
                font-size: 14px;
                border-top: 1px solid $hover-color;
                border-bottom: 1px solid $hover-color;

                &-push {
                    margin-left: 15px;
                }

                &::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }
}
